h1 {
  font-size: 3em;
  color: #999;
  margin-bottom: 5px;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav{
  float: center;
}
nav a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
  background-color: #242424;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #FFFFFF;
}
nav a:hover {
  font-style: bold;
  color: #000000;
  background-color: #FFFFFF;
}
nav a.active {
  font-size: 17px;
  font-style: bold;
  color: #2AE500;
}

