/*  
  .modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    font-size: 25px;
    position: relative;
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.20),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 2s
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    border-radius: 5px; 
    padding: 2px 16px;
    background-color: #000000;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;
    border-radius: 5px;
   }
  
  .modal-footer {
    border-radius: 5px;
    padding: 2px 16px;
    background-color: #101010;
    color: white;
  }
   */