.onoffswitch {
  position: relative; width: 173px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
  font-size: 24px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Yes";
  background-color: #C7C7C7; color: #FFFFFF;
  text-align: center;
}
.onoffswitch-inner:after {
  content: "No";
  background-color: #EEEEEE; color: #999999;
  text-align: center;
}
.onoffswitch-switch {
  display: block; width: 30px; margin: -4px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 147px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}






/* .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .wishItems {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 50em;
  }
  .wishItems li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .wishItems li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .wishItems li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .wishItems .text {
    position: relative;
    top: -3px;
  }
  .wishItems .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
  }
   */