
<router-outlet><h1  align="center" style="width:100%">{{title}}</h1>
<nav align="center" style="width:100%" class="navbar navbar-inverse">
    <a routerLink="/addLostItem" routerLinkActive="active">Add lost item</a>
    <a routerLink="/itemsLost" routerLinkActive="active" >Lost list</a>
    <a routerLink="/addFoundItem" routerLinkActive="active">Add found item</a>
    <a routerLink="/itemsFound" routerLinkActive="active">Found list</a>
    <a routerLink="/wishItems" routerLinkActive="active">Wish list</a>
    <a routerLink="/historyItems" routerLinkActive="active">Items history</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
</nav></router-outlet>

