<h3>Newest lost</h3>
<div class="grid grid-pad">
  <a *ngFor="let item of itemsLost"  [routerLink]="['/itemLost', item.id]"  class="col-1-4">
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>

<h3>Newest found</h3>
<div class="grid grid-pad">
  <a *ngFor="let item of itemsFound"  [routerLink]="['/itemFound', item.id]"  class="col-1-4">
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>

<h3>Top wish item</h3>
<div class="grid grid-pad">
  <a *ngFor="let wishItem of wishItems"  [routerLink]="['/wishItem', wishItem.id]"  class="col-1-4">
    <div class="module item">
      <h4>{{wishItem.user.name}} want {{wishItem.item.name}}</h4>
      <h4>Date of reservation {{wishItem.dateOfReservation[0] | date:"MM/dd/yy"}}</h4>
    </div>
  </a>
</div>


