<h2 align="center">Items collected history</h2>

<br/>
<br/>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>item</th>
        <th>get by</th>
        <th>owner</th>
        <th>when</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historyItem of historyItems" [class.selected]="historyItem === selectedHistoryItem">
        <td>{{historyItem.id}} </td>
        <td>{{historyItem.item.name}}</td>
        <td>{{historyItem.getBy.name}} {{historyItem.getBy.surname}}</td>
        <td>{{historyItem.owner}}</td>
        <td>{{historyItem.when | date:'MM/dd/yyyy HH:mm:ss' }}</td>
        <td  (click)="delete(historyItem); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></td>
      </tr>
    </tbody>
  </table>
</div>

