<br>
<h2 align="center">
    Item found</h2><br><br>
<div *ngIf="item" class="container">
    <p align="center"> img </p><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>where lost </th>
                <th>when lost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.id}} </td>
                <td>{{item.name}}</td>
                <td>{{item.where}} </td>
                <td>{{item.when | date:'MM/dd/yyyy HH:mm:ss' }}</td>

            </tr>
        </tbody>
    </table><br>
    <table align="center">
        <thead align="center">
            <tr align="center">
                <th align="center"> Description </th>
            </tr>
            <tr align="center"> {{item.description}} </tr>
        </thead>
    </table>
</div>