<div align="center"><br><br>
  <h2>Add lost item</h2><br><br>
  <form style="width: 40%">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" #name>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Where found</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Where found" #where>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description" #description>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Image</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Image" #image>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Award</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="amount of cash" #award>
      </div>
    <div align="center" id="usersList" (ngSubmit)="collectItem(selectedUser)">
        <th align="center" for="selectedUser">
          <p align="center">Select owner: </p>
        </th>
        <tr align="center">
          <select align="center" class="form-control" id="selectedUser" [(ngModel)]="selectedUser" name="user"> 
            <option *ngFor="let user of users" [ngValue] = "user">{{user.name}} {{user.surname}}</option></select></tr>
      </div><br>
    <button type="submit" class="btn btn-default" (click)="add(name.value, where.value, award.value, description.value, image.value); 
      name.value=''; where.value='';  description.value=''; image.value=''; award.value  ">Submit</button>
  </form>
</div>

<div id="myModal" class="modal">
  <div class="modal-content" (click)="closePopUp()">
      <div align="center" class="modal-header">
          <span class="close">&times;</span>
          <h2 align="center">User not added</h2>
      </div>
      <div align="center" class="modal-body" id="modal-body">
          <p align="center"></p>
      </div>
      <div class="modal-footer">
          <h5 align="center">click to continue</h5>
      </div>
  </div>
</div>