<h2 align="center">
  Items LOST</h2><br><br>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th (click)="sortByName()">name</th>
          <th>where lost </th>
          <th>when lost</th>
          <th>owner</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsLost" (click)="gotoDetail(item);  " [class.selected]="item === selectedItem">
          <td>{{item.id}} </td>
          <td>{{item.name}}</td>
          <td>{{item.where}} </td>
          <td>{{item.when | date:'MM/dd/yyyy HH:mm:ss' }}</td>
          <td>{{item.owner.name}} {{item.owner.surname}}</td>
          <td align="left" (click)="delete(item); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<button (click)="sortByName()">sort By Name()</button>