<h2 align="center">Items FOUND</h2><br><br>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover" id="foundItemTable">
      <thead>
        <tr>
          <th>id</th>
          <th (click)="sortByName()">name</th>
          <th>where found </th>
          <th>when found</th>
          <th>make wish</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemsFound" (click)="gotoDetail(item);  " [class.selected]="item === selectedItem">
          <td>{{item.id}} </td>
          <td>{{item.name}}</td>
          <td>{{item.where}} </td>
          <td>{{item.when | date:'MM/dd/yyyy HH:mm:ss' }}</td>
          <td (click)="addItemToWishItems(item); $event.stopPropagation()"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
          <td (click)="delete(item); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button (click)="goBack()">Back</button>
<button (click)="sortByName()">sort By Name()</button>


<div id="myModal" class="modal">
  <div class="modal-content">
    <div align="center" class="modal-header">
      <span class="close">&times;</span>
      <h2 align="center">New wish item</h2>
    </div>
    <div class="modal-body" id="modal-body">
      <p>
        <div align="center" id="usersList" (ngSubmit)="addWishItem(selectedUser)">
          <th align="center" for="selectedUser">
            <p align="center">Select user wiling for item </p>
          </th>
          <tr align="center">
            <select align="center" class="form-control" id="selectedUser" [(ngModel)]="selectedUser" name="user"> 
                <option *ngFor="let user of users" [ngValue] = "user">{{user.name}} {{user.surname}}</option></select></tr>
        </div><br>
        <div align="center">
          <p> <button id="collectOwnerButton" type="label label-success" (click)="addWishItem(selectedUser)">  Create wish   </button>            </p>
        </div>
        <div class="modal-footer" (click)="closePopUp()">
          <h5 align="center">cancel</h5>
        </div>
    </div>

  </div>
</div>

<div id="infoModel" class="modal">
  <div class="modal-content" (click)="closePopUp()">
    <div align="center" class="modal-header">
      <span class="close">&times;</span>
      <h2 align="center">Stop</h2>
    </div>
    <div align="center" class="modal-body" id="infoBody">
        <p align="center"> </p>
    </div>
    <div class="modal-footer">
      <h5 align="center">back to found items</h5>
    </div>
  </div>
</div>

