<div id="search-component">
  <h4>USer Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let user of users | async"
         (click)="gotoDetail(user)" class="search-result" >
      {{user.name}}
    </div>
  </div>
</div>
