

<br><h2 align="center">
    User details</h2><br><br>
<div *ngIf="user" class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>surname</th>
                <th>email</th>
                <th>reservations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}} </td>
                <td>{{user.name}}</td>
                <td>{{user.surname}} </td>
                <td>{{user.email}}</td>
                <td>{{user.wishItems}}
            </tr>
        </tbody>
    </table><br>
</div>