<h2 align="center">Users</h2>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>Reservations</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of users" (click)="gotoDetail(user)"  [class.selected]="user === selectedUser">
        <td>{{user.id}} </td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.wishItems }} </td>
        <td class="delete" (click)="delete(user); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="sortByName()">sort By Name()</button>

<div align="center"><br><br>
  <h2>Add user</h2><br><br>
  <form style="width: 40%">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" #name>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Surname</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Where found" #surname>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description" #email>
    </div>
    <button type="submit" class="btn btn-default" (click)="add(name.value, surname.value, email.value); 
      name.value=''; surname.value='';  email.value='';  ">Add</button>
  </form>
</div>

<div id="myModal" class="modal">
    <div class="modal-content" (click)="closePopUp()">
        <div align="center" class="modal-header">
            <span class="close">&times;</span>
            <h2 align="center">User not added</h2>
        </div>
        <div align="center" class="modal-body" id="modal-body">
            <p align="center"></p>
        </div>
        <div class="modal-footer">
            <h5 align="center">click to continue</h5>
        </div>
    </div>
  </div>