<h2 align="center">Wish items list</h2><br/><br/>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>item</th>
        <th>first on list </th>
        <th>Days left</th>
        <th>Amount of reservations</th>
        <th>Grant to user</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wishItem of wishItems" (click)="gotoDetail(wishItem)" [class.selected]="wishItem === selectedWishItem">
        <td>{{wishItem.id}} </td>
        <td>{{wishItem.item.name}}</td>
        <td>{{wishItem.user[0].name}} {{wishItem.user[0].surname}}</td>
        <td>{{ getTimeAfterItemRegistered(wishItem.item) }} </td>
        <td>{{ wishItem.user.length }}</td>

        <td (click)="selectWishItem(wishItem); $event.stopPropagation()"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
        <td (click)="delete(wishItem); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button (click)="sortByName()">Sort by item name</button>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div align="center" class="modal-header">
      <span class="close">&times;</span>
      <h2 align="center">Select user</h2>
    </div>
    <div class="modal-body" id="modal-body">
      <p>
        <div align="center" class="circleOrXContainer" id="circleOrXContainer">
          <font size="3,5">Item will collect owner?</font>
          <p>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner" (click)="disableTable()" ></span>
                        <span class="onoffswitch-switch" ></span>
                </label>
            </div><br>
        </div>
        <div align="center" id="usersList" (ngSubmit)="collectItem(selectedUser)">
          <th align="center" for="selectedUser">
            <p align="center">Select owner: </p>
          </th>
          <tr align="center">
            <select align="center" class="form-control" id="selectedUser" [(ngModel)]="selectedUser" name="user"> 
              <option *ngFor="let user of users" [ngValue] = "user">{{user.name}} {{user.surname}}</option></select></tr>
        </div><br>
        <div align="center">
          <p> <button id="collectOwnerButton" type="label label-success" (click)="collectItem()">  Item will collect owner   </button>            </p>
          <p> <button id="collectUserButton" type="label label-success" (click)="collectItem()">  Item will collect first user on list  </button></p>
        </div>
    </div>
    <div class="modal-footer" (click)="closePopUp()">
      <h5 align="center">cancel</h5>
    </div>
  </div>

  <div id="itemCollected" class="modal">
    <div class="modal-content" (click)="closePopUp()">
      <div align="center" class="modal-header">
        <span class="close">&times;</span>
        <h2 align="center">Item added to history</h2>
      </div>
      <div class="modal-body" id="itemCollectedModalBody">
        <div align="center">
          <p> <button type="label label-success" (click)="goToHistoryItems()">  Show items history  </button> </p>
        </div>
      </div>
      <div class="modal-footer">
        <h5 align="center">back to wish items</h5>
      </div>
    </div>
  </div>
  <button (click)="goBack()">Back</button>