<!-- <div *ngIf="wishItem">
    <h2>Wish item with id: {{wishItem.id}} details!</h2>
    <div>
        <label>id: </label>{{wishItem.id}} <label>                Item name:</label> {{wishItem.item.name}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="wishItem.user.name" placeholder="name" />
    </div>
</div> -->
<br><br><br><br><br>

<div *ngIf="wishItem">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Wish item with id</th>
                    <th>Name of item</th>
                    <th>Date when found</th>
                    <th>Place where found</th>
                    <th>Gwiazdki</th>
                </tr>
                <tr>
                    <th>{{wishItem.id}}</th>
                    <th>{{wishItem.item.name}}</th>
                    <th>{{wishItem.item.when | date:'MM/dd/yyyy' }}</th>
                    <th>{{wishItem.item.where}}</th>
                    <th>****</th>
                </tr>
            </thead>
        </table>

        <br><br><br>

        <table align="center" style="width:100%;">
            <table class="table" border="0" cellpadding="0" cellspacing="0" style="width:30%;float:left">
                <tbody>
                    <tr>
                        <th> User</th>
                    </tr>
                    <tr *ngFor=" let user of wishItem.user">
                        <td> {{user.name}} {{user.surname}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" border="0" cellpadding="0" cellspacing="0" style="width:23%;float:left">
                <tbody>
                    <tr>
                        <th> Date of reservation</th>
                    </tr>
                    <tr *ngFor=" let dateOfReservation of wishItem.dateOfReservation">
                        <td> {{dateOfReservation | date:'MM/dd/yyyy HH:mm:ss' }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" border="0" cellpadding="0" cellspacing="0" style="width:7%;float:left">
                <tbody>
                    <tr align="center">
                        <th> delete </th>
                    </tr>
                    <tr align="center" *ngFor=" let user of wishItem.user">
                        <td (click)="deleteReservation(user); $event.stopPropagation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover" style="width:10%;float:left">
                <tr></tr>
            </table>

            <table class="table table-hover" border="0" cellpadding="0" cellspacing="0" style="width:25%;float:left">
                <form (ngSubmit)="addUserToWishItemIfPossible(selectedFoundUser)" style="width:75%;float:center">
                    <tr>
                        <th style="width:100%;float:center" for="selectedFoundUser">Add user do wish list:</th>
                    </tr>
                    <tr>
                        <select class="form-control" id="selectedFoundUser" [(ngModel)]="selectedFoundUser" name="user">
                                <option *ngFor="let user of users" [ngValue] = "user">{{user.name}} {{user.surname}}</option></select></tr>
                    <tr> <button type="label label-success">  Add   </button> </tr>
                </form>
            </table>
        </table>




        <div id="myModal" class="modal">
            <div class="modal-content" (click)="closePopUp()">
                <div align="center" class="modal-header">
                    <span class="close">&times;</span>
                    <h2 align="center">User not added</h2>
                </div>
                <div align="center" class="modal-body" id="modal-body">
                    <p align="center"></p>
                </div>
                <div class="modal-footer">
                    <h5 align="center">click to continue</h5>
                </div>
            </div>
        </div>
        <button (click)="goBack()">Back</button>